Source: gpdb
Maintainer: Pivotal Greenplum Release Engineering <gp-releng@pivotal.io>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 bison,
 debhelper (>= 9),
 flex,
 libapr1-dev,
 libaprutil1-dev,
 libbz2-dev,
 libcurl4-openssl-dev,
 libevent-dev,
 libgpopt3-dev,
 libkrb5-dev,
 libldap2-dev,
 libpam0g-dev,
 libperl-dev,
 libpython-dev,
 libreadline-dev,
 libssl-dev,
 libxerces-c-dev,
 libxml2-dev,
 libyaml-dev,
 libzstd-dev,
 python,
 zlib1g-dev

Package: greenplum-db
Architecture: any
Depends: ${shlibs:Depends}, python
Description: Greenplum Database
 TODO
